<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

    <head>
        <title>TwitterApp</title>
        <meta content="Twitter login demo" name="description" />
    </head>

    <body class="page-container-bg-solid">
        <div class="page-container">
            <div>
                <h3 th:text="${cookie}"></h3>
            </div>
            <div class="page-content-wrapper">
                <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12" style="text-align:left;margin-bottom:250px">
                                <h3>Click the button below to sign in with Twitter</h3>
                                <a th:href="@{/getToken}"><img th:src="@{/images/sign-in-with-twitter-gray.png}"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>